@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic');

body {
    background: #fff;
    color: #333;   
    display: block;
    width: 400px;
    margin: 100px auto 0;
    font-family: 'Pacifico', cursive;
}

h1, h3 {    
    border-bottom: 2px solid #333;
}

input, button {
outline: none;
}

header > input {   
    width: 312px; 
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;   
    color: #888;
    font-family: 'Pacifico', cursive;
}

li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    list-style-type: none;
}
    
label {    
        display: inline-block ;
        font-size: 18px;    
        line-height: 20px;    
        width: 206px; 
        padding: 0 0 0 11px; 
}

#unfinishedTasks > li > label {
    width: 246px;
    font-weight: bolder;
}

.taskEditor {
    width: 195px; 
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;   
    color: #888;
    font-family: 'Pacifico', cursive;
}

#unfinishedTasks > li > .taskEditor {
    width: 235px; 
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;   
    color: #888;
    font-family: 'Pacifico', cursive;
}

#unfinishedTasks {
    padding-inline-start: 0px;    
}

#addNewTaskButton, #finishAllTaskButton, #deleteAllFinishedTasksButton, #clearDeletedTasksButton, .switchEditSaveButton, .switchDeleteRecoverButton {
background: none;
border: 0px;
color: #888;
font-size: 15px;
width: 60px;
margin: 10px 0 0;
cursor: pointer;
font-family: 'Pacifico', cursive;
}

button:hover {
    color: #333;
}

#addNewTaskButton:hover {
    color: #333;
}

#finishAllTaskButton:hover {
    color: #333;
}

#deleteAllFinishedTasksButton:hover {
    color: #333;
}

#clearDeletedTasksButton:hover {
    color: #333;
}


.finishedTask > label {
    text-decoration: line-through;
    color: rgb(138, 138, 138);   
}

.deletedFromFinishedTasks > label {
    text-decoration: line-through;
    color: rgb(138, 138, 138);   
}

.deletedFromUnfinishedTasks > label {
    text-decoration: line-through;
    color: rgb(138, 138, 138);   
}


#finishedTasks {
    margin-top: 80px;
}

.checkbox {
    width: 16px;
    height: 16px; 
    display: inline-block;
    cursor: pointer;
}

