body {
    background: #fff;
    color: #333;   
    display: block;
    width: 400px;
    margin: 100px auto 0;
}

h1, h3 {    
    border-bottom: 2px solid #333;
}

input, button {
outline: none;
}

input {    
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;   
    color: #888;
}

#unfinishedTasks {
    padding-inline-start: 0px;
}

#unfinishedTasks > input {
    
}

button {
background: none;
border: 0px;
color: #888;
font-size: 15px;
width: 60px;
margin: 10px 0 0;
cursor: pointer;
}

button:hover {
    color: #333;
}

li {
overflow: hidden;
padding: 20px 0;
border-bottom: 1px solid #eee;
list-style-type: none;
}

label {
    display: inline-block ;
    font-size: 18px;
    line-height: 40px;    
    width: 178px;
    padding: 0 0 0 11px;    
}

#unfinishedTasks > li > label {
    width: 218px;
}

li > input {
    width: 167px;
}

#unfinishedTasks > li > input {
    width: 207px;
}

.finishedTask > label {
    text-decoration: line-through;
}

.finishedTask > .switchFUButton {
    border: 1px solid #ddd;
    border-radius: 4px;   
    width: 16px;
    height: 16px;
    background-color: #333;
}

.deletedFromFinishedTasks > .switchFUButton {
    border: 1px solid #ddd;
    border-radius: 4px;   
    width: 16px;
    height: 16px;
    background-color: #333;
}

.deletedFromUnfinishedTasks > .switchFUButton {
    border: 1px solid #ddd;
    border-radius: 4px;   
    width: 16px;
    height: 16px;
    background-color: #333;
}

.unfinishedTask > .switchFUButton {
    border: 1px solid #ddd;
    border-radius: 4px;   
    width: 16px;
    height: 16px;
}